@font-face {
    font-family: 'VastagoGroteskThin';
    src: url('/fonts/VastagoGrotesk-Thin.otf') format('opentype');
    font-weight: 100; /* Thin */
    font-style: normal;
}

@font-face {
    font-family: 'VastagoGrotesk';
    src: url('/fonts/VastagoGrotesk-ExtraLight.otf') format('opentype');
    font-weight: 200; /* ExtraLight */
    font-style: normal;
}

@font-face {
    font-family: 'VastagoGrotesk';
    src: url('/fonts/VastagoGrotesk-Light.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'VastagoGrotesk';
    src: url('/fonts/VastagoGrotesk-Regular.otf') format('opentype');
    font-weight: 400; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'VastagoGrotesk';
    src: url('/fonts/VastagoGrotesk-Medium.otf') format('opentype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'VastagoGrotesk';
    src: url('/fonts/VastagoGrotesk-SemiBold.otf') format('opentype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'VastagoGrotesk';
    src: url('/fonts/VastagoGrotesk-Bold.otf') format('opentype');
    font-weight: 700; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'VastagoGrotesk';
    src: url('/fonts/VastagoGrotesk-Heavy.otf') format('opentype');
    font-weight: 800; /* Heavy */
    font-style: normal;
}

@font-face {
    font-family: 'VastagoGrotesk';
    src: url('/fonts/VastagoGrotesk-Black.otf') format('opentype');
    font-weight: 900; /* Black */
    font-style: normal;
}

/* Define classes for each font weight */
.vastago-thin {
    font-family: 'VastagoGroteskThin', sans-serif;
    font-weight: 100;
}

.vastago-extra-light {
    font-family: 'VastagoGrotesk', sans-serif;
    font-weight: 200;
}

.vastago-light {
    font-family: 'VastagoGrotesk', sans-serif;
    font-weight: 300;
}

.vastago-regular {
    font-family: 'VastagoGrotesk', sans-serif;
    font-weight: 400;
}

.vastago-medium {
    font-family: 'VastagoGrotesk', sans-serif;
    font-weight: 500;
}

.vastago-semi-bold {
    font-family: 'VastagoGrotesk', sans-serif;
    font-weight: 600;
}

.vastago-bold {
    font-family: 'VastagoGrotesk', sans-serif;
    font-weight: 700;
}

.vastago-heavy {
    font-family: 'VastagoGrotesk', sans-serif;
    font-weight: 800;
}

.vastago-black {
    font-family: 'VastagoGrotesk', sans-serif;
    font-weight: 900;
}
